extends layout.pug

block content 
   nav.grid-container.portfolio-breadcrumb
    a(href='/') ? Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Use interploation to dynamically add the project title.
        h1 #{projectData.projectTitle}

        //- Use interploation to dynamically add the project description.
        p.lead.text-light
          |#{projectData.description} 

      .cell.portfolio-meta.small-6.medium-2.large-3z
        h6  Technologies

        //- This each will display each technology in each project
        ul
          each tech in projectData.technologies
            li= tech

        //- This urls are being added for the Live Demo and Github Demo
        a.button.expanded(href=`${projectData.live_Link}`,target= "_blank") Live Demo 
        a.button.expanded(href=`${projectData.github_Link}`,target= "_blank") GitHub Repo
        
    
    //- Project Images will be added to each project
    
    each image in projectData.imageLinks
      img.image(src= `${imageLinks}`)
      

    
    